## Ejercicio 1: Transformar cadenas

In [2]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The higher"""

In [5]:
oraciones =  text.split('.')
oraciones

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The higher']

In [6]:
palabrasclave = ['average','temperature','distance']

In [10]:
for item in oraciones:
    for item1 in palabrasclave:
        if item1 in item.lower():
            print(item.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year

## Ejercicio 2: Formateando Cadenas

In [11]:
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [13]:
title = f'datos de gravedad sobre {name}'

In [14]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

In [15]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [20]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Gan√≠medes'

In [17]:
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [21]:
new_template = """
Datos de Gravedad sobre: {name}
-------------------------------------------------------------------------------
Nombre del planeta: {planet}
Gravedad en {name}: {gravity} m/s2
"""
print(new_template.format(name=name, planet=planet, gravity=gravity))

Datos de Gravedad sobre: Moon
-------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 0.00162 m/s2

In [23]:
print(new_template.format(name=name, planet=planet, gravity=gravity))

Datos de Gravedad sobre: Moon
-------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 0.00162 m/s2